html {
    font-family: 'Roboto Serif', serif;
    font-size: clamp(16px, 1.045vw, 22px);
    line-height: 1.6;
}

.boxed-text {
    background-color: var(--color-accent);
    color: #FFFFFF;
    display: inline;
    white-space: pre-wrap;
    padding: 0.25em;
    padding-left: 0px;
    box-shadow: -0.25em 0 0 var(--color-accent);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


p+p {
    margin-top: 1.25em;
}
